<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new</title>
</head>
<body>
    <div class="container">
        <!--action: form에 작성한 데이터를 어디로 보낼지 지정-->
        <form action="/members/new" method="post">
            <div class="form-group">
                <!--neme:서버로 전솔할 때 변수이름의 역할-->
                <label for="name">이름</label>
                <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
            </div>
            <button type="submit">등록</button>
        </form>
    </div>
</body>
</html>